<section class="flex h-screen w-fit flex-col items-center">
  <div class="max-w-screen flex gap-3 overflow-x-scroll p-3">
    <img src="/assets/mockup.webp" alt="mockup" class="max-h-96" />
  </div>
  <div class="w-full">
    <h1 class="text-4xl font-light tracking-tight">This is osu!radio</h1>
  </div>
</section>
