<section class="h-screen flex flex-col items-center w-fit">
    <div class="flex gap-3 max-w-screen overflow-x-scroll p-3">
    <img src="/assets/mockup.webp" alt="mockup" class="max-h-96">
    </div>
    <div class="w-full">
    <h1 class="text-4xl font-light tracking-tight">This is osu!radio</h1>
    </div>
</section>
