<section class="mx-auto flex w-fit max-w-full flex-col items-center pt-32">
  <div
    class="flex max-h-[40vh] max-w-full flex-col gap-3 overflow-x-scroll py-3 md:max-h-fit md:flex-row"
  >
    <img
      src="https://images.placeholders.dev/?width=2560&height=1440&text=wysi"
      alt="mockup"
      class="max-h-fit rounded-xl md:max-w-[calc(min(100vw,720px)_-_6rem)]"
    />
    <img
      src="https://images.placeholders.dev/?width=2560&height=1440&text=727"
      alt="mockup"
      class="max-h-fit rounded-xl md:max-w-[calc(min(100vw,720px)_-_6rem)]"
    />
    <img
      src="https://images.placeholders.dev/?width=2560&height=1440&text=bmc"
      alt="mockup"
      class="max-h-fit rounded-xl md:max-w-[calc(min(100vw,720px)_-_6rem)]"
    />
  </div>
  <div class="w-full pt-12">
    <div class="flex justify-between">
      <h1 class="text-4xl tracking-tight">This is osu!radio</h1>
      <a
        href="https://github.com/Team-BTMC/osu-radio/releases"
        class="block h-fit w-fit -translate-y-2 rounded-full border border-solid border-black/20 bg-white py-2 px-6 transition-all hover:border-black"
        >Downloads</a
      >
    </div>
    <p class="pt-4">An open source music player for your local osu! library.</p>
    <h3 class="pt-8 text-xl tracking-tight">Features</h3>
    <ul class="list-disc pt-2 pl-8 text-black/60 marker:text-black/20">
      <li>Play your local osu! library from osu!stable</li>
      <li>Search for songs</li>
      <li>Queue songs</li>
      <li>Shuffle songs</li>
      <li>Create custom playlists</li>
      <li>Hide individual songs</li>
    </ul>
    <h3 class="pt-8 text-xl tracking-tight">About us</h3>
    <p class="pt-4 text-black/60">
      osu!radio is open source and free to use. Development happens on the <a
        href="https://github.com/Team-BTMC/osu-radio"
        class="text-black/80 underline underline-offset-2">GitHub</a
      >
      repository. You can also find the roadmap, or raise an issue there. Discussions
      happen in the <a
        href="#discord"
        class="text-black/80 underline underline-offset-2">discord</a
      >.
    </p>
  </div>
</section>
