---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/global/Footer.astro";
---

<html lang="en" class="selection:bg-fg selection:text-bg bg-bg scroll-smooth">
  <head>
    <BaseHead />
  </head>
  <body
    class="2xl:max-w-screen-xl bg-bg text-fg relative mx-auto flex min-h-screen justify-center"
  >
    <main
      class="flex-grow bg-bg relative my-24 max-w-[min(100vw,720px)] rounded-2xl p-4 shadow-sm"
    >
      <slot />
      <Footer />
      <span
        class="from-bg pointer-events-none sticky bottom-0 block h-20 bg-gradient-to-t"
      ></span>
    </main>
  </body>
</html>
