<footer class="py-12">
  <div class="mx-auto">
    <div class="flex flex-col gap-4">
      <div>
        <h3 class="text-fg text-base lg:text-xl">Download</h3>
        <ul
          role="list"
          class="text-fg/50 mt-4 flex flex-col gap-2 text-xs uppercase lg:flex-row"
        >
          <li>
            <a
              href="https://github.com/Team-BTMC/osu-radio/releases"
              class="hover:text-fg">GitHub Releases</a
            >
          </li>
        </ul>
      </div>
      <div>
        <h3 class="text-fg text-base lg:text-xl">Contribute</h3>
        <ul
          role="list"
          class="text-fg/50 mt-4 flex flex-col gap-2 text-xs uppercase lg:flex-row"
        >
          <li>
            <a
              href="https://github.com/Team-BTMC/osu-radio"
              class="hover:text-fg"
            >
              GitHub
            </a>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="text-fg text-base lg:text-xl">Community</h3>
        <ul
          role="list"
          class="text-fg/50 mt-4 flex flex-col gap-2 text-xs uppercase lg:flex-row"
        >
          <li>
            <a href="https://discord.gg/VvMzQ3AxFT" class="hover:text-fg">
              Discord
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-fg/30 my-8 flex h-8 justify-center">
    <svg
      class="max-w-32"
      width="100%"
      height="100%"
      viewBox="0 0 180 27"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      xml:space="preserve"
      style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;"
    >
      <g transform="matrix(1,0,0,1,-280.115,-0.601271)">
        <path
          d="M283.723,18.063C316.504,19.95 333.805,3.598 326.065,4.227C318.325,4.856 309.674,18.063 330.618,18.063C351.561,18.063 380.699,4.227 359.301,4.227C337.902,4.227 339.723,18.063 368.406,18.063C397.09,18.063 403.464,4.227 391.171,4.227C378.878,4.227 378.423,28.127 400.732,23.095C423.041,18.063 446.261,1.082 456.277,8"
          style="fill:none;fill-rule:nonzero;stroke:currentColor;stroke-width:1.75px;"
        ></path>
      </g>
    </svg>
  </div>
  <div class="mx-auto">
    <div class="flex items-center">
      <span
        class="bg-fg m-4 block aspect-square size-2 animate-pulse rounded-full"
      ></span>
      <p class="text-fg/50 text-sm lg:col-span-2">
        osu!radio is in no way affiliated with osu!, nor is it endorsed or
        sponsored by them. Designed and built by Team-BTMC.
      </p>
    </div>
  </div>
</footer>
